.FirstSection {
  position: relative;
  background-image: url(../images/FirstImagMobile.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  color: antiquewhite;
  max-width: 45em;
  width: 100%;
}
.FirstSection_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5em 0 0 2em;
}
.FirstSection_SecondTitle {
  color: var(--withe);
  text-align: start;
  font-weight: 1;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.5px;
  width: unset;
  text-transform: uppercase;
}
.FirstSection_content h1 {
  text-align: left;
  max-width: 19em;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  background: linear-gradient(90deg, #ff8dc8 0%, #ffbe4b 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 0.3em;
}
.FirstSection_text{
  font-family: "Raleway", Sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: start;
  max-width: 18em;
  color: unset;
}
.FirstSection_lik{
  color: #929aff;
}
@media (min-width: 45em) {
  .FirstSection {
    position: relative;
    background-image: url(../images/FirstImg.webp);
    background-position: calc(20% + 0px);
    object-fit: contain;
    background-size: cover;
    max-width: unset;
    max-height: 75vh;
  }
  
  @media (min-width: 45em) {
    .FirstSection_content {
      position: absolute;
      top: 13vh;
      left: 50vw;
    }
    }
    @media (min-width: 98em) {
      .FirstSection_content {
        position: absolute;
        top: 19vh;
        left: 53vw;
      }
      }
  .FirstSection_content h1 {
    max-width: 9em;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
  }
  .FirstSection_SecondTitle {
    margin: 0;
  }
  .FirstSection_text {
    font-size: 1em;
    font-family: "Raleway", Sans-serif;
    line-height: 26px;
  }
}
