.Seventh_Section {
  max-width: 45em;
  background: linear-gradient(180deg, #292648 0%, #18162d 100%);
  padding: 2em;
}
.Seventh_Secondtitle {
  font-weight: 1;
  font-size: 12px;
  line-height: 1.2em;
  letter-spacing: 2.5px;
  color: #ffffff70;
  width: unset;
  text-transform: uppercase;
}
.Seventh_Section h2 {
  color: #ffffff;
  font-family: "Raleway", Sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.SeventhSection_contentImg{
  box-shadow: 1px 1px 10px 1px #63679f;
  max-width: 382px;
  max-height: 233px;
  margin: 1em;
}
.SveventhSection_itemsListe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}
.SveventhSection_itemsListe p {
  font-size: 15px;
  font-weight: 1;
  color: #ffffff;
  text-align: start;
}
.SveventhSection_itemsListe ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.4em;
  color: #ffff;
  margin-left: 2em;
}
.SveventhSection_itemsListe ul > li {
  position: relative;
  list-style: none;
}
/* befoere */
.SveventhSection_itemsListe ul > li::before {
  content: "";
  position: absolute;
  top: 18%;
  left: -20px;
  transform: 0;
  display: flex;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: linear-gradient(90deg, #db93ff 0%, #71e3ff 108.2%);
}

.SeventhSection_link {
  display: inline-block;
  text-decoration: none;
  color: #ffff;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  text-align: start;
  line-height: 1.2;
  letter-spacing: 2.18px;
  max-width: 50em;
  width: 100%;
  margin-top: 1.5em;
  cursor: pointer;
}
.SeventhSection_Icon_arrowRight {
  width: 15px;
  height: 12px;
  color: #ffff;
}
.SeventhSection_link:hover .SeventhSection_Icon_arrowRight {
  transform: translateX(8px);
}
@media (min-width: 45em) {
  .Seventh_Section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 500px;
    /* padding: 3.2em; */
  }
  .Seventh_SectionTest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    max-height: 500px;
    padding: 3em 0 3em 0;
  }
  .Seventh_Section h2{
    font-size: 40px;
    margin-bottom: 0.5em;
  }
  .Seventh_Secondtitle{
    text-align: center;
    width: 647px;
  }
  .SeventhSection_content {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3em;
  }
  .SveventhSection_itemsListe {
    max-width: 540px;
  }
}
