@font-face{
  font-family: "AvenirNext", sans-serif;
  src: url(../Fonts/26301410506.ttf);
  font-style: normal;
  font-weight: 600;
 }
.DropdownMenu_Section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.DropdownMenu_title {
  font-family: "AvenirNext", Sans-serif;
  font-size: 14.5px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: center;
  color: black;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.DropdownMenu_title:hover {
  background: linear-gradient(
    260deg,
    var(--e-global-color-b43d715) 0%,
    var(--e-global-color-d7c7dc1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.DropdownMenu_title span {
  margin-left: 0.5em;
}
.DropdownMenu__ShowIconA {
  width: 8px;
  height: 5px;
}
.DropdownMenu_title:hover .DropdownMenu__ShowIconA {
  display: none;
}

.DropdownMenu__ShowIconB {
  display: none;
}
.DropdownMenu_title:hover .DropdownMenu__ShowIconB {
  display: unset;
  width: 8px;
  height: 5px;
}
.DropdownMenu_Content {
  display: none;
}
/* :hover  */
.DropdownMenu_Section:hover ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1em;
  list-style: none;
  background-color: #ffff;
  max-width: 375px;
  width: 100vw;
  box-shadow: 0 0 5px 0 #7f7e84;
  border-radius: 0.5em;
  padding: 1em;
  z-index: 9999;
  top: 210%;
  left: 13%;
  padding: 1.5em;
  padding-top: 3em;
  padding-bottom: 3em;
}
/* after */
.DropdownMenu_Content::before {
  content: "";
  position: absolute;
  top: -21px;
  left: 18px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #ffff;
}
.DropdownMenu_Content li > a {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 1;
  line-height: 0em;
  letter-spacing: 2px;
  text-decoration: none;
  color: #18162d;
}
.DropdownMenu_Headericon {
  display: none;
  width: 10px;
  height: 10px;
}
.DropdownMenu_Section ul > li:hover .DropdownMenu_Headericon {
  display: unset;
  transform: translateX(10px);
  transition: all 0.3s ease-in-out;
}
/* upicon */
.DropdownMenu_Section ul > li:hover .DropdownMenu_HeadericonA {
  display: none;
}
.DropdownMenu_HeadericonA {
  margin-left: 0.5em;
  width: 10px;
  height: 10px;
}
.DropdownMenu_Section ul > li:hover .DropdownMenu_HeadericonB {
  display: unset;
  margin-left: 0.5em;
  width: 15px;
  height: 15px;
}
.DropdownMenu_HeadericonB {
  display: none;
}

.DropdownMenu_Section li {
  width: 100%;
  height: 30px;
  text-align: start;
  padding: 0.3em;
}

.DropdownMenu_Section li:hover {
  display: unset;
  background: unset;
  background-color: #dde1e5;
}
.DropdownMenu_Content li:hover a {
  background: unset;
  background-clip: unset;
  -webkit-text-fill-color: unset;
  color: #929aff;
}
