.SearchInput_Section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: transparent;
  max-width: 45em;
}
form {
  position: absolute;
  top: 0rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
form input {
  width: 400px;
  height: 30px;
  border: 0px;
  border-bottom: 3px solid #929aff;
  background-color: transparent;
  color: #ffff;
}
form input:focus {
  outline: none;
}
form input::placeholder {
  color: #ffff;
  font-size: 1.2em;
}

@media (min-width: 45em) {
  .SearchInput_Section {
    max-width: 100%;
  }
  form {
    position: absolute;
    top: 3rem;
  }
  form input {
    width: 350px;
    height: 30px;
  }
}
