:root {
  --content-width:1120px;
  --color-primary: #6ec1e4;
  --color-secondary: #54595f;
  --e-global-color-text: #4a4a4a;
  --e-global-color-accent: #61ce70;
  --e-global-color-42dbc0b: #18162d;
  --secondtitle-color: #18162d80;
  --e-global-color-b43d715: #71e3ff;
  --e-global-color-d7c7dc1: #db93ff;
  --e-global-color-0e6ba50: #18162d1a;
  --e-global-color-6ba0c20: #292648;
  --e-global-color-b2acc2c: #f9f9f9;
  --e-global-color-43a261f: #545454;
  --e-global-color-57ee28c: #dde1e5;
  --e-global-color-445a3d7: #929aff;
  --withe: #ffffff;
  --e-global-color-85f6500: #ffffff75;
  --e-global-color-f166037: #ffffff00;
  --wp--preset--gradient--luminous-dusk: linear-gradient(
    135deg,
    rgb(199, 81, 192) 50%,
    rgb(65, 88, 208) 100%
  );
}
@font-face{
 font-family: "AvenirNext", sans-serif;
 src: url(../src/Fonts/26301410506.ttf);
 font-style: normal;
 font-weight: 600;
}
*{
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Raleway',sans-serif;
}
body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--withe);
  overflow-x: hidden;
  font-family: "Raleway", Sans-serif;
}
a{
  cursor: pointer;
}

/* .Secondtitle{
  font-weight: 1;
  font-size: 12px;
  line-height: 1.2em;
  letter-spacing: 2.5px;
  width: unset;
  color: var(--secondtitle-color);
  text-transform: uppercase;
} */

/* .MoreSales_Content h2 {
  text-align: start;
  font-size: 26px;
  font-family: "Raleway", Sans-serif;
  font-weight: 700;
  line-height: 1.2em;
  text-align: start;
  color: #18162d;
} */
